<section class="section color--white">
    <h1 class="section-title">Full-stack Software Engineer</h1>
    <p>I've always enjoyed building things, so engineering products for others and myself is very fulfilling.</p>

    <p>One of my favorite things is a new idea. Big or small. Whether it's mine or someone else's, once I hear it, I start thinking about how it will be built. What tools, languages, and frameworks should be used? Will it be dynamic or static? Who will be our audience? More importantly, does it need to support Internet Explorer?</p>

    <p>To keep learning, I read about new technologies, experiment, and take online courses. In addition, I contribute to open source to give back to the community.</p>
</section>
