<nav id="nav" class="menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item {{ if or ($currentPage.IsMenuCurrent `main` .) ($currentPage.HasMenuCurrent `main` .) }}menu-item--active{{ end }}">
      <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
  <button aria-label="Toggle Menu">
    <span class="line line-top"></span>
    <span class="line line-bottom"></span>
  </button>
  <div class="circle"></div>
</nav>
