h1 {
  font-size: var(--size-800);
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  color: var(--color-primary);
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 4rem 0 2rem 0;
  color: var(--color-text-primary);;
}

h2 {
  font-size: var(--size-600);
  line-height: 1.3;
  font-weight: 700;
}

h3 {
  font-size: var(--size-550);
  margin-bottom: 0.25em;
}

h4, h5, h6 {
  font-size: 0.8em;
}

p {
  font-size: var(--size-500);
  line-height: 1.5;
  margin: 0 0 var(--spacing-lg);
  color: var(--color-text-secondary);
}

strong {
  color: var(--color-text-primary);
}

time {
  color: var(--color-text-secondary);
}

ul, ol {
  li {
    font-size: var(--size-500);
  }
}

time {
  font-size: var(--size-400);
}

a {
  color: var(--color-links);
  transition: all 0.2s ease;
  transition-property: transform, opacity, color, border-color, background-color;

  &:link,
  &:visited {
    color: var(--color-links);
  }
}

:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 3px;
}

.color {
  &--primary {
    color: var(--color-primary);
  }

  &--secondary {
    color: var(--color-links);
  }

  &--white {
    color: #fff;
  }
}
