{{ define "main" }}

{{ $container_class := "wrapper-sm" }}
{{ if .Params.toc }}
    {{ $container_class = "wrapper-sm has-sidebar" }}
{{ end }}

<div class="inner">
    <div class="{{ $container_class }}">
        <article class="section article">
            <h1 class="section-title">{{ .Title }}</h1>

            <div class="post__meta">
                <time class="post__date">{{ .PublishDate.Format "January 2, 2006" }}</time>
                <div class="tags">
                    {{ partial "components/tags.html" . }}
                </div>
            </div>

            {{ .Content }}

            <div class="discuss">
                <p>Thoughts/opinions? <a href="https://twitter.com/aleksnyder">@aleksnyder</a> on twitter</p>
            </div>
        </article>
        {{ if .Params.toc }}
            {{ partial "components/toc.html" . }}
        {{ end }}
    </div>
</div>

{{ $prismjs := resources.Get "js/prism.js" }}
{{ $prism := slice $prismjs | resources.Concat "js/prism.min.js" | minify | fingerprint }}
<script src="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity }}" media="screen"></script>

{{ end }}

{{ define "below_content" }}
<div class="post__nav grid-col-12">
    <div class="post__prev">
        {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}">&laquo; {{.NextInSection.Title}}</a>
        {{ end }}
    </div>
    <div class="post__next">
        {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} &raquo;</a>
        {{ end }}
    </div>
</div>
{{ end }}
