{{ define "json_ld" }}
{{ end }}

{{ define "main" }}

{{ $container_class := "wrapper-sm" }}
{{ if .Params.toc }}
    {{ $container_class = "wrapper-sm has-sidebar" }}
{{ end }}

<div class="inner">
    <div class="{{ $container_class }}">
        <article class="section article markdown">
            <h1 class="section-title">{{ .Title }}</h1>

            <div class="post__meta">
                <time class="post__date post__data">
                    <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                    </svg>
                    <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
                </time>
                <div class="post__reading-time post__data">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="19" height="19" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>{{ printf "%d min read" .ReadingTime }}</span>
                </div>
                <div class="tags">
                    {{ partial "components/tags.html" . }}
                </div>
            </div>

            {{ .Content }}

            <div class="discuss">
                <p>Thoughts/opinions? Message me on <a href="https://bsky.app/profile/aleksnyder.bsky.social">Bluesky</a>.</p>
                <a class="btn" href="/notes" rel="nofollow noopener">Back to notes</a>
            </div>
        </article>
        {{ if .Params.toc }}
            {{ partial "components/toc.html" . }}
        {{ end }}
    </div>
</div>

{{ $prismjs := resources.Get "js/prism.js" }}
{{ $prism := slice $prismjs | resources.Concat "js/prism.min.js" | minify | fingerprint }}
<script src="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity }}" media="screen"></script>

{{ end }}

{{ define "below_content" }}
<div class="pagination grid-col-12">
    <div class="previous">
        {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}">&laquo; {{.NextInSection.Title}}</a>
        {{ end }}
    </div>
    <div class="next">
        {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} &raquo;</a>
        {{ end }}
    </div>
</div>
{{ end }}
