// Text variables
$base-font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
$heading-font-family: $base-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$color-primary: #19a69a;
$color-secondary: #242A32;
$color-background-primary: #141414;
$color-background-secondary: #101010;
$color-background-tertiary: #EAEAEA;
$color-border-primary: #02B9B5;
$color-text-primary: #f4f4f4;
$color-text-secondary: #A1A1AA;
$color-links: #f7b733;

// Spacing units
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: var(--spacing-lg);
$spacing-xl: 3rem;
$spacing-xxl: 6rem;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
