.inner {
  grid-column: span 12;
  width: 100%;
  max-width: 72em;
  margin: auto;
  padding: 0 1em 3em;
  @include bp(tablet) {
    padding: 0 2.5em 3em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 72em) [main-end]
    minmax(1em, 1fr) [full-end];

  > * {
    grid-column: main;
  }
}

.wrapper-sm {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 46em) [main-end]
    minmax(1em, 1fr) [full-end];

  > .section {
    grid-column: main;
  }
}

.has-sidebar {
  gap: 2rem;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 46em) [main-end]
    minmax(1em, 1fr) [full-end];
  margin: 6rem 0 0;
  @include mq(tablet-lg) {
    grid-template-columns:
      [main-start] minmax(0, 46em) [main-end sidebar-start] 1fr [sidebar-end];
  }

  .section-title {
    margin: 0 0 3rem;
  }
}

.container-breakout {
  grid-column: full;
}

.grid {
  display: grid;
  align-items: stretch;
}

.row {
  display: contents;
}

.cell {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  h3 {
    font-size: var(--size-400);
  }
}

.grid-col-9 {
  grid-column: span 12;

  @include bp(desktop) {
    grid-column: span 9;
  }
}

.grid-col-3 {
  grid-column: span 3;
}

.grid-col-8 {
  grid-column: span 8;
}

.grid-col-4 {
  grid-column: span 4;
}

.grid-col-12 {
  grid-column: span 12;
}
