.hero {
  &__intro {
    max-width: 46rem;

    p {
      color: var(--color-text-primary);;
      font-size: var(--size-700);
    }
  }

  &__title {
    margin: 4rem 0 0;

    &:after {
      content: '';
      display: block;
      height: .5rem;
      width: 6.25rem;
      margin: var(--spacing-xl) 0;
      background-color: var(--color-primary);
    }
  }
}
