.link {
  color: var(--color-links);
  text-decoration: underline;

  &--back {
    display: block;
    font-size: 1rem;
    font-style: italic;
    text-align: center;

    &:hover,
    &:focus-visible {
      color: var(--color-background-tertiary);
      text-decoration: none;
    }
  }

  &--visit {
    display: inline-block;
    background-color: var(--color-background-tertiary);
    color: var(--color-background-secondary);
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: var(--spacing-sm) var(--spacing-md);
    margin: 0 0 var(--spacing-xl);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.2s;

    &:hover,
    &:focus-visible {
      background-color: #D6D6D6;
    }

    &:visited,
    &:link {
      color: var(--color-background-secondary);
    }
  }
}

.named-anchor {
  margin-left: 0.5em;
}

.work-cta {
  margin: var(--spacing-xl) 0 var(--spacing-md);
  text-align: center;
}

.external-link {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.2rem;
  align-items: center;
}
