.pagination {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;

  a {
    display: block;
    color: darken($color-primary, 10%);
    text-align: center;
    padding: 1.5em;
    transition: all .3s cubic-bezier(.455, .03, .515, .955);

    &:before {
      display: block;
      color: var(--color-text-secondary);
      font-size: 0.75em;
      text-align: center;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .04em;
    }

    &:hover {
      box-shadow: inset 0 4px 0 var(--color-links);
      color: var(--color-links);
      text-decoration: none;
    }

    @include bp(tablet) {
      padding: 3em 1.5em;
    }
  }

  strong {
    display: block;
    text-align: center;
  }
}

.previous {
  grid-column: span 12;
  padding: 0;
  @include bp(large-phone) {
    grid-column: span 6;
  }

  a {
    border-top: 1px solid var(--color-text-primary);
    border-right: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);

    &:before {
      content: "Prev";
    }
  }
}

.next {
  grid-column: span 12;
  padding: 0;
  @include bp(large-phone) {
    grid-column: span 6;
  }

  a {
    border-left: 1px solid var(--color-text-primary);
    border-top: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);

    &:before {
      content: "Next";
    }
  }
}
