.markdown {
  h2 {
    text-transform: none;
    margin-top: var(--spacing-lg);
  }

  h3 {
    text-transform: none;
    margin: var(--spacing-md) 0;
  }

  h1,
  h2,
  h3 {
    letter-spacing: 1px;
    line-height: 1.1;
  }

  p {
    max-width: 65ch;
  }

  li {
    color: var(--color-text-secondary)
  }

  li + li {
    margin: var(--spacing-xs) 0;
  }

  p + ul {
    margin-top: 0;
  }
}

.featured-articles {
  grid-column: span 12;
  padding: 0 0 5em;
  @include bp(tablet) {
    padding: 5em 0;
  }
}

.posts {
  grid-column: span 12;
  display: grid;
  grid-template-columns: auto;
  gap: 1em;
  margin-bottom: var(--spacing-md);
  @include bp(tablet) {
    grid-template-columns: 200px 4fr 2fr;
  }

  h3 {
    margin-top: 0;
  }
}

.post__title {
  margin: 0;
  font-size: 1.1em;
}

.post__meta {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 2rem;
  align-items: center;
  margin: 0 0 2rem;
}

.post__data {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.4rem;
  align-items: center;
}

.post__date,
.post__reading-time {
  color: var(--color-text-primary);
  font-style: italic;
  font-weight: 600;
  margin: 0 0 var(--spacing-sm) 0;
}

.post__reading-time {
  width: max-content;
}

.tags-group {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: var(--spacing-xl) 0 0;

  p {
    margin: 0 var(--spacing-xs) var(--spacing-sm) 0;
  }
}

.discuss {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
