.article {
  h1 {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 4rem;
    --fluid-type-target: 4vw;
  }
  
  h2 {
    --fluid-type-min: 1.4rem;
    --fluid-type-max: 2.3rem;
  }
  
  h3 {
    --fluid-type-min: 1.1rem;
    --fluid-type-max: 2rem;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  p {
    max-width: 65ch;
  }

  h1,
  h2,
  h3,
  p,
  time {
    font-size: clamp(
      var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem)
    );
  }
}

.featured-articles {
    grid-column: span 12;
    padding: 0 0 5em;
    @include bp(tablet) {
      padding: 5em 0;
    }
  }

.posts {
  grid-column: span 12;
  display: grid;
  grid-template-columns: auto;;
  /* autoprefixer: ignore next */
  grid-gap: 1em;
  margin-bottom: 1rem;
  @include bp (tablet) {
    grid-template-columns: 200px 4fr 2fr;
  }
  h3 {
    margin-top: 0;
  }
  @include bp(ie) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.post__nav {
  display: grid;
  display: -ms-grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
  padding: 0;
  @include bp(ie) {
    margin-bottom: 5em;
  }
  a {
    display: block;
    color: darken( $primary-color, 10% );
    text-align: center;
    padding: 1.5em;
    -webkit-transition: all .3s cubic-bezier(.455,.03,.515,.955);
    -transition: all .3s cubic-bezier(.455,.03,.515,.955);
    &:before {
      display: block;
      color: #A4A4A4;
      font-size: 0.75em;
      text-align: center;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .04em;
    }
    &:hover {
      box-shadow: inset 0 4px 0 $yellow;
      color: $yellow;
      text-decoration: none;
    }
    @include bp(tablet) {
      padding: 3em 1.5em;
    }
  }
  strong {
    display: block;
    text-align: center;
  }
}

.post__prev {
  grid-column: span 12;
  padding: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  @include bp(large-phone) {
    grid-column: span 6;
  }
  a {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #ddd;
    &:before {
      content: "Prev";
    }
  }
}

.post__next {
  grid-column: span 12;
  padding: 0;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  @include bp(large-phone) {
    grid-column: span 6;
  }
  a {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #ddd;
    &:before {
      content: "Next";
    }
  }
}

.post__title {
  margin: 0;
  font-size: 1.1em;
}

.post__meta {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 2rem;
}

.post__date {
  font-style: italic;
  margin: 0 2rem 0.75rem 0;
}

.tags-group {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 3rem 0 0;

  p {
    margin: 0 0.5rem 0.75rem 0;
  }
}
