/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+apacheconf+bash+ruby+git+json+markdown+php+sass+scss+twig+yaml */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
     width: 100%;
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     tab-size: 4;
     hyphens: none;
 }

 /* Code blocks */
 pre[class*="language-"] {
     border-radius: 0.3em;
     white-space: normal;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #272822;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: slategray;
 }

 .token.punctuation {
     color: #f8f8f2;
 }

 .namespace {
     opacity: .7;
 }

 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }

 .token.boolean,
 .token.number {
     color: #ae81ff;
 }

 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #a6e22e;
 }

 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #f8f8f2;
 }

 .token.atrule,
 .token.attr-value,
 .token.function {
     color: #e6db74;
 }

 .token.keyword {
     color: #66d9ef;
 }

 .token.regex,
 .token.important {
     color: #fd971f;
 }

 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }

 .token.entity {
     cursor: help;
 }

 /**
 Cusom prism styles
 **/
 code {
    display: inline-block;
    background: #00000c;
    color: #f4f4f4;
    padding: 0.1rem 0.25rem;
    border-radius: 1px;
    word-break: break-all;
  }

pre {
    padding: 0;

    > code {
        display: block;
        background:#2d313a;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
        color:#D4D4D4;
        border: 0;
        overflow: auto;
        border-radius: 3px;
        padding: 0.625rem;
    }
}

code[class*="language-"],
pre[class*="language-"] {
    background: #00000c;

    .tag {
        background-color: transparent;
        padding: 0;
        margin: 0 0 0.5em 0;
    }
}

pre[class*="language-"] {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
    padding: 0 3.2rem;
    border-radius: 0.8rem;
    color:#D4D4D4;
    text-align: start;
    word-spacing: normal;
    word-break: normal;
    tab-size: 2;
    overflow-x: auto;
}

.code-block {
    position: relative;

    &__header {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__button {
        border-bottom-left-radius: 0.8rem;
    }
}

code {
    &.code-block--single-line {
        white-space: normal;
        padding: 3.2rem 0;
    }

    &.code-block--single-line.language-bash::before {
        content: "$ ";
    }
}

#copy-notice {
    background: #D4D4D4;
    color: #222;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.25rem 0.5rem;
    z-index: 2;
}
