.project__intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 0 3rem;

  @include bp(tablet) {
    flex-flow: row nowrap;
    margin: 6rem 0 -3rem;
  }
}

.intro__screenshot {
  box-shadow: 0 .6rem 2.8rem .4rem rgba(47,53,66,.07),0 0 1.6rem .25rem rgba(47,53,66,.05);
  border-radius: 0.5rem;
}

.project-details {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin: 2em 0;

  h3 {
    color: $text-color-light;
    font-size: 1.25em;
  }
}

.project-role,
.project-summary {
  grid-column: span 5;
  @include bp(desktop) {
    grid-column: span 2;
  }
}

.project-screenshot {
  padding: 5rem 0;
  margin: 0 auto;
  max-width: 96rem;
}

.project-tools {
  grid-column: span 5;
  @include bp(desktop) {
    grid-column: span 1;
  }
}

.screenshots {
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(21,minmax(0,1fr));
  margin: 6rem 0 2rem;

  & + h3,
  & + h2 {
    margin-top: 0;
  }
}

.screenshot {
  box-shadow: rgba(0,0,0,0.4) 0px 2px 8px 0px;

  &__img {
    aspect-ratio: 320 / 177;
  }
}

.screenshot--first {
  grid-row: 1 / span 3;
  grid-column: 1 / span 17;
}

.screenshot--last {
  grid-row: 2 / span 3;
  grid-column: 5/span 17;
  z-index: 2;
}