.project-screenshot {
  padding: 5rem 0;
  margin: 0 auto;
  max-width: 96rem;
}

.screenshots {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-template-columns: repeat(21,minmax(0,1fr));

  & + h3,
  & + h2 {
    margin-top: 0;
  }
}

.screenshot {
  box-shadow: rgba(0,0,0,0.4) 0px 2px 8px 0px;

  &__img {
    aspect-ratio: 320 / 177;
  }
}

.screenshot--first {
  grid-row: 1 / span 3;
  grid-column: 1 / span 17;
}

.screenshot--last {
  grid-row: 2 / span 3;
  grid-column: 5/span 17;
  z-index: 2;
}