.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  margin: 2em 0;
}

.profile-pic + h1,
.accolades {
  grid-column: span 12;
  margin-top: 0;
}

.description {
  grid-column: span 12;
  @include bp(desktop) {
    grid-column: span 9;
  }
}

.clients,
.skills {
  grid-column: span 12;
  @include bp(desktop) {
    grid-column: span 6;
  }

  h3 {
    color: var(--color-text-primary);
    font-size: 1.25em;
  }
}

.info__title {
  margin-bottom: 1em;

  &:after {
    @include thick-underline($color-border-primary);
    margin: 0.5em 0 var(--spacing-md) 0;
  }
}

.about,
.resume {
  position: relative;
}
