.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* autoprefixer: ignore next */
    grid-gap: 1em;
    margin-top: 2em;
  }

  .profile-pic {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    margin: 0 0 2rem;
    border-radius: 50%;
    border: 6px solid $yellow;
    @include bp(tablet) {
      margin: 4rem 0 2rem;
    }
    @include bp(ie) {
      width: 220px;
      height: auto;
    }
  }


  .profile-pic + h1,
  .accolades {
    grid-column: span 12;
    margin-top: 0;
  }

  .description {
    grid-column: span 12;
    @include bp(desktop) {
      grid-column: span 9;
    }
  }

  .profile-links {
    grid-column: span 12;
    display: flex;
    justify-content: space-around;
    @include bp(desktop) {
      grid-column: span 3;
      display: block;
      justify-content: space-around;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $primary-color;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $yellow;
        .profile-links__title,
        .porfile-links__subtitle {
          color: $yellow;
        }
      }
      &:first-child {
        margin-bottom: 2em;
      }
    }
    &__title {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      color: $yellow;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: color 0.5s ease-in-out;
    }
    &__subtitle {
      display: block;
      color: #f4f4f4;
      transition: color 0.5s ease-in-out;
    }
  }

  .clients,
  .skills {
    grid-column: span 12;
    @include bp(desktop) {
      grid-column: span 6;
    }
    h3 {
      color: $primary-color;
      font-size: 1.25em;
    }
  }

  .info__title {
    margin-bottom: 1em;
    &:after {
      @include thick-underline($works-1);
      margin: 0.5em 0 0 0;
    }
  }

  .experience {
    grid-column: span 12;
    &__list {
      padding-left: 0;
      li {
        list-style: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 0 2em;
        border-bottom: 1px solid $primary-color;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    &__company {
      grid-column: span 6;
      h3 {
        margin-bottom: 0.5em;
      }
    }
    &__position {
      h3 {
        margin-bottom: 0.5em;
      }
    }
    &__position {
      grid-column: span 6;
    }
  }

  .path {
    position: relative;
    padding-top: 100px;
    h2 {
      margin: 0 0 100px;
      text-align: center;
      @include bp(tablet) {
        margin: 0 0 100px;
      }
    }
    @include bp(ie) {
      margin-bottom: 8em;
    }
  }

  .path-line {
    display: none;
    @include bp(tablet) {
      display: block;
      position: absolute;
      margin-top: -10px;
      left: 50%;
      width: 1px;
      height: 625px;
      background: #21A6AE;
      z-index: 1;
    }
    &:after {
      @include bp(tablet) {
        content:'';
        position:absolute;
        bottom:0px;
        margin-left:-8px;
        width:16px;
        height:16px;
        background:#21A6AE;
        border:1px solid #21A6AE;
        border-radius: 8px;
      }
    }
  }

  .company-card {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 0;
    @include bp(tablet) {
      width: 40%;
    }

    .company-info {
      @include bp(tablet) {
        padding-right: 0;
      }
    }
  }

  .company-info {
    padding-left: 25%;
    position: relative;
    padding-right: 30px;
  }

  .cc-years {
    position: absolute;
    width: 100%;
    margin-top: 0.5em;
    margin-left: -100%;
    text-align: right;
    span {
      font-size: 12px;
      padding-right: 30px;
      display: inline-block;
      color: #94929D;
    }
  }

  .cc-highlight {
    color: #94929D;
  }

  .cc-desc {
    margin-top: 20px;
    line-height: 20px;
    padding-right: 10px;
  }

  .cc-left {
    .cc-in {
      @include bp(tablet) {
        padding-right: 30px;
      }
    }
  }

  .cc-right {
    @include bp(tablet) {
      margin-left: 60%;
    }
    .cc-in {
      @include bp(tablet) {
        padding-left: 30px;
      }
    }
  }

  .pdot {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    background: $yellow;
    border: 1px solid #21A6AE;
    left: 50%;
    border-radius: 8px;
    z-index: 2;
    @include bp(tablet) {
      display: block;
    }
  }

  .pdot1,
  .pdot2 {
    margin-left: -8px;
  }

  .pdot1 {
    margin-top: -10px;
  }

  .pdot2 {
    margin-top: 15px;
  }

  .first-card {
    margin: 5em 0;
    .company-info {
      padding-left: 25%;
      @include bp(tablet) {
        padding-left: 45%;
        margin-left: 30px;
      }
    }
  }

  .about,
  .resume {
    position: relative;
    @include bp(ie) {
      display: flex;
      flex-flow: column nowrap;
    }
  }
