html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto;
    background: var(--color-background-primary);
    margin: 0;
    font-family: $base-font-family;
    color: var(--color-text-primary);
    @include bp(tablet) {
        grid-template-rows: 70px 1fr auto;
    }
}
