.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;

    &--sm {
        max-width: 46rem;
        margin: 0 auto;
    }
}

.section-title {
    line-height: 1;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color: $primary-color;
    text-align: left;
    margin: 6rem 0 2rem;

    &::after {
        color: $primary-color;
        margin: 3rem 0 0;
    }
}

.page-title {
    line-height: 1;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color: $primary-color;
    text-align: left;
    margin: 6rem 0 0;

    &:after {
      content: '';
      display: block;
      height: .5rem;
      width: 6.25rem;
      margin: 3rem 0;
      background-color: $primary-color;
    }
}

.section-subtitle {
    margin: 0 0 3rem;
    text-transform: none;
    letter-spacing: normal;
    font-size: 2rem;
    font-weight: 500;
    max-width: 46rem;
}

.section-intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 6rem 0 3rem;
    @include bp(tablet) {
        flex-flow: row nowrap;
    }

    &__title {
        text-align: left;

        &::after {
            display: none;
        }
    }

    &__content {
        flex: 2;
        margin-right: 1rem;
    }

    &__sidebar {
        flex: 1;
    }
}

.callout {
    padding: 2rem 1.5rem;
    background: $bg-color-dark-accent;

    &__title {
        text-transform: none;
        margin: 0 0 1rem;
    }
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}
