.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}

.wrapper-sm {
    max-width: 46rem;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    line-height: 1;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color: $primary-color;
    text-align: left;

    &::after {
        color: $primary-color;
        margin: 3rem 0;
    }
}
