.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-xl) 0;

    &--sm {
        max-width: 46rem;
        margin: 0 auto;
    }
}

.section-title {
    line-height: 1;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color: var(--color-primary);
    text-align: left;
    margin: 0 0 2rem;
    @include bp(tablet) {
        margin: var(--spacing-xxl) 0 var(--spacing-xl);
    }

    &::after {
        color: var(--color-primary);
        margin: var(--spacing-xl) 0 0;
    }
}

.page-title {
    line-height: 1;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color: var(--color-primary);
    text-align: left;
    margin: 0;
    @include bp(tablet) {
        margin: var(--spacing-xxl) 0 var(--spacing-xl);
    }

    &:after {
      content: '';
      display: block;
      height: .5rem;
      width: 6.25rem;
      margin: var(--spacing-xl) 0;
      background-color: var(--color-primary);
    }
}

.section-subtitle {
    margin: 0 0 var(--spacing-xl);
    text-transform: none;
    letter-spacing: normal;
    font-size: 2rem;
    font-weight: 500;
    max-width: 46rem;
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 var(--spacing-xl);
    @include bp(tablet) {
        flex-flow: row nowrap;
        margin: var(--spacing-xxl) 0 var(--spacing-xl);
    }

    &__title {
        text-align: left;

        &::after {
            display: none;
        }
    }

    &__content {
        flex: 2;
        margin-right: var(--spacing-md);
    }

    &__sidebar {
        flex: 1;
    }
}



.callout {
    padding: 2rem var(--spacing-lg);
    background: #00000c;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
    border-radius: 0.8rem;

    &__title {
        text-transform: none;
        margin: 0 0 var(--spacing-md);
    }
}
