.sidebar {
  display: none;
  grid-column: sidebar;
  padding: var(--spacing-xl) 0;

  @include mq(tablet-lg) {
    display: block;
  }
}

.table-of-contents {
  position: sticky;
  top: 60px;
}

.toc {
  li {
    font-size: var(--size-400);
  }

  a:hover,
  a:focus-visible {
    color: var(--color-links);
  }

  > .toc {
    padding-left: var(--spacing-md);
  }

  &__title {
    margin: 0 0 2rem;
    font-size: var(--size-500);
    font-weight: 500;
  }

  &__link,
  &__link:visited,
  &__link:link {
    color: var(--color-primary);
    text-decoration: none;
  }

  &__link {
    font-weight: 500;

    &--active,
    &--active:visited,
    &--active:link {
      color: var(--color-links);
      text-decoration: underline;

      &::before {
        content: ' ';
        width: 2px;
        height: 100%;
        background-color: var(--color-primary);
      }
    }
  }
}