.resume {
  h1 {
    text-align: center;
    margin: 4rem 0 2rem;
    &:after {
      margin: var(--spacing-md) auto;
    }
  }
  h2 {
    text-align: center;
    margin: 1em 0;
    padding: .5em 0;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #676767;
  }
  .contact-info {
    margin-bottom: 0;
  }

  ul,
  li,
  p {
    font-size: var(--size-400);
    margin: 0;
  }

  strong {
    font-size: var(--size-500);
  }

  ul + p {
    margin: 1em 0 0;
  }
}

.resume__controls {
  position: absolute;
  top: 2rem;
  right: 0;
  margin: 0.5em;
  a {
    padding: .5em;
    &:first-of-type {
      margin-right: 1em;
    }
  }
}

.contact-information {
  margin: 1em 0;

  a {
    display: block;
    text-align: center;
  }
}
