{{ define "json_ld" }}
<script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "Person",
     "email": "mailto:alek.c.snyder@gmail.com",
     "jobTitle": "Software Engineer",
     "name": "Alek Snyder",
     "url": "https://www.aleksnyder.net",
     "sameAs" : ["https://www.linkedin.com/in/aleksnyder",
     "https://bsky.app/profile/aleksnyder.bsky.social"]
   }
</script>
{{ end }}

{{ define "main" }}
<div class="inner">
    {{ partial "components/intro.html" . }}

<h2>Recent Work I've Done</h2>
<section class="projects" id="works">
    {{ range first 3 (where .Site.RegularPages "Type" "works")}}
        <div class="project">
            <div class="project__content">
                <h3 class="project__title">{{ .Title }}</h3>
                <p class="project__description">{{ .Params.description }}</p>
                <p class="project__techs">{{ delimit .Params.techs ", " }}</p>
                <a class="project__link" href="{{ .Permalink }}" rel="noopener noreferrer">View project 🠒</a>
            </div>
            <div class="project__image">
                <picture>
                    <source type="image/webp" srcset="{{ .Params.thumbnail.webp }}">
                    <source type="image/jpeg" srcset="{{ .Params.thumbnail.jpg }}">
                    <img src="{{ .Params.thumbnail.jpg }}" alt="Preview Image for {{ .Title }}" width="621" height="417">
                </picture>
            </div>
        </div>
    {{ end }}
</section>

<section class="notes section">
    <h2>Recent Notes</h2>
    <section class="recent-posts">
        {{ range first 3 (where .Site.RegularPages "Type" "notes")}}
            <article class="grid posts">
                <div class="row post">
                    <div class="cell">
                        <time>{{ .PublishDate.Format "January 2, 2006" }}</time>
                    </div>
                    <div class="cell">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    </div>
                    <div class="cell tags">
                        {{ partial "components/tags.html" . }}
                    </div>
                </div>
            </article>
        {{ end }}
    </section>
  </section>
</div>
{{ end }}
