{{ define "main" }}
<section class="section wrapper padding-bottom-0">
    <div class="inner">
        <div class="section-intro">
            <section class="section-intro__content">
                <h1 class="section-intro__title grid-col-12">Selected Works</h1>
                <h2 class="section-subtitle">On this page you will find a few of my favorite projects – both personal and as part of an agency.</h2>
                <p>Working freelance and as part of an agency have equipped me with a huge variety of experiences that I couldn't possibly list just here. You can see a more technical breakdown of my skillset on my <a href="/about">about</a> page, however, talk to me about your project and I will do my best to prepare examples of specific related works.</p>
            </section>
            <aside class="section-intro__sidebar">
                <div class="callout">
                    <h2 class="callout__title">Elsewhere</h2>
                    <p>For even more recent work, you can find me coding on <a href="https://github.com/aleksnyder" rel="noopener noreferrer">GitHub</a> or posting some <a href="/notes">notes</a>.</p>
                </div>
            </aside>
        </div>
    </div>
    <div class="container-breakout callout">
        <div class="inner">
            <section class="section projects projects--alternate" id="works">
                {{ $paginator := .Paginate (where .Pages "Type" "works") }}
                {{ range $paginator.Pages }}
                    <div class="project">
                        <div class="project__content project__content--alternate">
                            <h3 class="project__title">{{ .Title }}</h3>
                            <p class="project__description project__description--alternate">{{ .Params.description }}</p>
                            <p class="project__techs">{{ delimit .Params.techs ", " }}</p>
                            <a class="project__link" href="{{ .Permalink }}" rel="noopener noreferrer">View project 🠒</a>
                        </div>
                        <div class="project__image">
                            <picture>
                                <source type="image/webp" srcset="{{ .Params.thumbnail.webp }}">
                                <source type="image/jpeg" srcset="{{ .Params.thumbnail.jpg }}">
                                <img src="{{ .Params.thumbnail.jpg }}" alt="Preview Image for {{ .Title }}" width="621" height="417">
                            </picture>
                        </div>
                    </div>
                {{ end }}
            </section>
        </div>
    </div>
</section>
{{ end }}
