{{ define "main" }}

<div class="inner padding-bottom-0">
    <div class="project-intro">
        <section class="intro__content">
            <h1 class="intro__title grid-col-12">{{ .Title }}</h1>
            {{ with .Params.description }}
                <p>{{ . }}</p>
            {{ end }}
            {{ with .Params.projectUrl }}
                <a class="project__link" href="{{ . }}" rel="noopener noreferrer">Visit site &rarr;</a>
            {{ end }}
        </section>
        <div class="project-intro__screenshot">
            <picture>
                <source type="image/webp" srcset="{{ .Params.images.webp }}">
                <source type="image/jpeg" srcset="{{ .Params.images.jpg }}">
                <img src="{{ .Params.images.jpg }}" alt="Preview Image for {{ .Title }}">
            </picture>
        </div>
    </div>
</div>
<div class="callout">
    <div class="inner">
        <div class="project-details">
            <section class="project-role">
                <h3><span class="info__title">Project summary</span></h3>
                <p>{{ .Params.projectBrief }}</p>
            </section>
            <section class="project-summary">
                <h3><span class="info__title">My Role</span></h3>
                <p>{{ .Params.contribution }}</p>
            </section>
            <section class="project-tools">
                <h3><span class="info__title">Tools used</span></h3>
                <ul class="dotless">
                    {{ range .Params.techs }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
        </div>
    </div>
</div>

{{ if .RenderString .Content }}
<div class="wrapper-sm">
    <article class="section markdown">
        <h2>In more detail</h2>
        {{ .Content }}

        <div class="work-cta">
            <a class="link--back" href="/works">View all projects</a>
        </div>
    </article>
</div>
{{ end }}

{{ $prismjs := resources.Get "js/prism.js" }}
{{ $prism := slice $prismjs | resources.Concat "js/prism.min.js" | minify | fingerprint }}
<script src="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity }}" media="screen"></script>

{{ end }}

{{ define "below_content" }}
<div class="pagination grid-col-12">
    <div class="previous">
        {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}">&laquo; {{.NextInSection.Title}}</a>
        {{ end }}
    </div>
    <div class="next">
        {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} &raquo;</a>
        {{ end }}
    </div>
</div>
{{ end }}
