{{ define "main" }}

<div class="wrapper-sm">
    <article class="section">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ .Content }}
    
        {{ with .Params.projectUrl }}
            <div class="work-cta">
                <a class="link--visit" href="{{ . }}">Visit site</a>
                <a class="link--back" href="/works">View more projects</a>
            </div>
        {{ end }}
    </article>
</div>

{{ $prismjs := resources.Get "js/prism.js" }}
{{ $prism := slice $prismjs | resources.Concat "js/prism.min.js" | minify | fingerprint }}
<script src="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity }}" media="screen"></script>

{{ end }}

{{ define "below_content" }}
<div class="post__nav grid-col-12">
    <div class="post__prev">
        {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}">&laquo; {{.NextInSection.Title}}</a>
        {{ end }}
    </div>
    <div class="post__next">
        {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
        {{ end }}
    </div>
</div>
{{ end }}
